.row
  .col-md-8
    - @posts.each do |post|
      .panel.panel-info
        .panel-heading
          = post.title
        .panel-body
          = post.content.html_safe
        .panel-footer
          small(style="color: #333")
            | updated @
            = datetime_format(post.updated_at)

  .col-md-4
    = render 'share/menu'

/* .row.centered */
/*   .col-md-12 */
/*     h4 */
/*       |Welome to Mei Yee Kitchen!! */

/* .row */
/*   .col-md-8.col-md-offset-2 */
/*     .carousel.slide#carousel-example-generic data-ride='carousel' */
/*       ol.carousel-indicators */
/*         li.active data-slide-to="0" data-target="#carousel-example-generic" */
/*         - (1..4).each do |idx| */
/*           li data-slide-to="#{idx}" data-target="#carousel-example-generic" */

/*       .carousel-inner */
/*         .item.active */
/*           img.img-responsive src="#{image_url 'front_1.jpg'}" */
/*         - (2..5).each do |idx| */
/*           .item */
/*             img.img-responsive src=image_url("front_#{idx}.jpg") */

/*       a.left.carousel-control data-slide="prev" href="#carousel-example-generic" role="button" */
/*         span.glyphicon.glyphicon-chevron-left */
/*       a.right.carousel-control data-slide="next" href="#carousel-example-generic" role="button" */
/*         span.glyphicon.glyphicon-chevron-right */


